@use '././variables.scss' as v;

html{
    font-family: "Basier Square", sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: v.$primary-color;
}

#root {
    height: 100%;
    overflow-y: auto;
    background-color: v.$primary-color;
    color: v.$white-color;
}

.error-border {
    border: 0.1rem solid red;
}

.icon {
    font-size: 2.2rem;
    color: v.$primary-color;
    &:hover{
        cursor: pointer;
        color: v.$secondary-color;
    }
}

.x {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
}

// The modal-backdrop is a container representing the entire screen
// It exists so the modal can blur the background when it is open
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2rem);
    z-index: 1;
}

input, textarea, select {
    border: 0.1rem solid v.$primary-color;
}

.signin-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;


    &_inner {
        width: 50%;
        background-color: v.$white-color-darker;
        color: black;
        border: 0.1rem solid v.$secondary-color;
        border-radius: 1rem;
    }

    .title, .google, .or, .form, .error, .account-already {
        display: flex;
        justify-content: center;
    }

    .title_text{
        font-size: 2.5rem;
    }

    .google{
        margin-bottom: 2rem;
    }

    .or{
        align-items: center;
        margin: 1.5rem auto;

        &_line{
            background-color: lightgray;
            height: 0.1rem;
            width: 40%;
            max-width: 20rem;
        }
        &_text{
            margin: 0 0.5rem;
        }
    }

    .form {
      
        form {
            width: 100%;
        }

        &_field {
            margin-bottom: 3rem;

            input, label, .error-text {
                width: 80%;
                max-width: 40rem;
                display: block;
                margin: 0 auto;
               
            }

            input {
                height: 3rem;
            }

            label {
                padding-right: 0.5rem;
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        
        button {
            @include v.button(13rem, 4rem, 2rem);
        }
    }

    .error {
        margin: 0 1rem 2rem 1rem;
        color: v.$error-color;
        font-weight: bold;
    }

    .account-already{
        margin: 2rem auto;

        .link {
            color: black;
            margin-left: 1rem;
        }
    }
}

.error-text {
    color: v.$error-color;
}

@media screen and (max-width: 768px) {
    .signin-container {
        &_inner {
            width: 90%;
        }
    }
}