@use '././variables.scss' as v;

html{
    font-family: "Basier Square", sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: v.$primary-color;
}

#root {
    height: 100%;
    overflow-y: auto;
    background-color: v.$primary-color;
    color: v.$white-color;
}

.error-border {
    border: 0.1rem solid red;
}

.icon {
    font-size: 2.2rem;
    color: v.$primary-color;
    &:hover{
        cursor: pointer;
        color: v.$secondary-color;
    }
}

.x {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
}

// The modal-backdrop is a container representing the entire screen
// It exists so the modal can blur the background when it is open
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2rem);
    z-index: 1;
}