$primary-color: #3d348b;
$secondary-color: #7678ed;
$tertiary-color: #f7b801;
$tertiary-lightened-color: #fedd7c;
$quarternary-color: #f18701;
$white-color: #FFF3F2;
$white-color-darker: #FCF0EC;
$error-color: #DF4151;

$navbar-height: 6rem;

$above-table-height: 15rem;
$above-table-height-mobile: 10rem;

@mixin button($width, $height, $font-size) {
    width: $width;
    height: $height;
    font-size: $font-size;
    letter-spacing: 0.3rem;
    border-radius: 1.5rem;
    border: 0.1rem solid $primary-color;
    background-color: $tertiary-color;
    color: $primary-color;
    &:hover{
        cursor: pointer;
        background-color: $tertiary-lightened-color;
    }
}

@mixin error-border {
    border: 0.1rem solid red;
}