@use '../../../../variables.scss' as v;

$navbar-padding: 2rem;
$letter-spacing: 0.3rem;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: v.$primary-color;
    color: v.$white-color;
    border-bottom: 0.05rem solid v.$white-color;
    font-size: 2rem;
    height: v.$navbar-height;
}

.navbar_title{
    font-size: 3rem;
    padding-left: $navbar-padding;
    letter-spacing: $letter-spacing;
}

.navbar_links{
    display: flex;
    list-style-type: none;
    padding-right: $navbar-padding;
}

.navbar_links li{
    margin: auto 1rem;
    letter-spacing: $letter-spacing;
}

.navbar_login {
    @include v.button(13rem, 3.5rem, 2rem, true);
}

.navbar_logout {
    @include v.button(13rem, 3.5rem, 2rem, true);
}

.navbar_get-started {
    @include v.button(13rem, 4rem, 2rem);
}
