@use '../../../../variables.scss' as v;

$navbar-padding: 2rem;
$letter-spacing: 0.3rem;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: v.$primary-color;
    color: v.$white-color;
    border-bottom: 0.05rem solid v.$white-color;
    font-size: 2rem;
    height: v.$navbar-height;
}

.navbar_logo_wrapper {
    display: flex;
    align-items: center;
    padding-left: $navbar-padding;
}

.navbar_logo {
    width: 5rem;
}

.navbar_title{
    font-size: 3.25rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    letter-spacing: $letter-spacing;
}

.navbar_links{
    display: flex;
    list-style-type: none;
    padding-right: $navbar-padding;
}

.navbar_links li{
    margin: auto 1rem;
    letter-spacing: $letter-spacing;
}

.navbar_login {
    @include v.button(13rem, 3.5rem, 2rem, true);
}

.navbar_logout {
    @include v.button(13rem, 3.5rem, 2rem, true);
}

.navbar_get-started {
    @include v.button(13rem, 4rem, 2rem);
}

.navbar_icon {
    cursor: pointer;
}
.navbar_x-icon{
    height: 3rem;
}

.navbar_menu-icon {
    height: 4rem;
}


.sidebar {
    position: fixed;
    top: calc(v.$navbar-height);
    right: 0;
    width: 100%;
    background-color: v.$secondary-color;
    display: none;
    flex-direction: column;
    // border: 0.3rem solid white;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.2), 0 -0.5rem 0.5rem rgba(255, 255, 255, 0.2);
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    animation: slideDown 0.5s;

    li {
        width: 100%;
        cursor: pointer;
        list-style-type: none;
        padding: 1rem;
        height: 2rem;
        border-bottom: 0.1rem solid white;
    }

    li:hover {
        background-color: v.$secondary-lightened-color;
    }

    span {
        width: 100%;
    }

    li:last-child {
        border-bottom: none;
    }


}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 100%;
    }
}


@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar_icon{
        display: none;
    }
}