$navbar-padding: 2rem;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: pink;
}

.navbar_title{
    font-size: 3rem;
    padding-left: $navbar-padding;
}

.navbar_links{
    display: flex;
    list-style-type: none;
    padding-right: $navbar-padding;
}

.navbar_links li{
    margin: auto 3rem;
}