@use '../../../../variables.scss' as v;

.media {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 3rem;
}

.ag-theme-quartz {

    margin-bottom: 5rem;
    width: 100%;
    height: 50rem;
    --ag-background-color: #{v.$white-color-darker} !important;
    --ag-foreground-color: black !important;
    --ag-header-foreground-color:  #{v.$white-color} !important;
    --ag-header-background-color: #{v.$secondary-color} !important;
    --ag-odd-row-background-color: #{v.$white-color} !important;

    & :hover {
        cursor: pointer;
    }

    .ag-header-cell-text {
        font-size: 1.8rem;
    }
    
    .ag-popup {
        position: absolute;
    }
}


