@use '../../../../variables.scss' as v;

$popup-border: 0.1rem solid v.$primary-color;

.entry-modal{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 3rem auto;
    height: 70%;
    width: 90%;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-form {
    width: 90%;
    height: 90%;
}

.entry-grid {
    display: grid;
    height: 100%;
    gap: 2.5rem 0;
    grid-template-areas:
    ". title category rating ."
    ". review review review ."
    ". error error error ."
    "save save save save save";
    grid-template-rows: auto 1fr auto auto;

    label {
        display: block;
        margin-bottom: 0.25rem;
    }

    &_label-with-icon {
        display: flex;
        gap: 1rem;
    }

    &_area-title {
        grid-area: title;
        #title {
            width: 30rem;
        }
    }
    &_area-category {
        grid-area: category;
        #category {
            width: 14rem;
        }
    }
    &_area-rating {
        grid-area: rating;
    }
    &_area-review {
        grid-area: review;
        width: 100%;

        #review, div:has(.tiptap) {
            width: 100%;
            height: calc(100% - 5rem);
            max-height: calc(100% - 5rem);
            // margin-bottom: -0.75rem;
            resize: none;
            background-color: white;
        }
        .tiptap{
            height: 100%;
            max-height: 100%;
            overflow-y: scroll;
            p {
                margin: 0;
            }
            // p:has(br) {
            //     height: 0;
            // }
        }
    }

    &_area-error {
        width: 100%;
        height: 0rem;
        grid-area: error;
        justify-self: center;
        color: v.$error-color;
        font-size: 1.4rem;
        font-weight: bold;
    }
    &_area-save {
        grid-area: save;
        width: 10rem;
        justify-self: center;
        #save {
            width: 10rem;
            @include v.button(10rem, 3.1rem, 2.2rem);
            letter-spacing: 0;
            
        }
    }

}

.info {
    font-size: 2rem;
}

.info-popper {
    z-index: 1;
}

// Styling to add an arrow pointing up to the above the info content
.info-content-container {
    position: relative;
    margin-top: 1rem;
    &::before {
        border-top: $popup-border;
        border-left: $popup-border;
        background-color: v.$white-color;
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: -0.6rem;
        transform: rotate(45deg);
        left: calc(50% - 0.5rem);
      
    }
}

// Styling for the info content itself (the text dialog that appears when the info icon is clicked)
.info-content {
    background-color: v.$white-color;
    border-radius: 0.5rem;
    border: $popup-border;
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 25rem;
}

@media screen and (max-width: 1000px) { // 1000px is about when the form gets too scrunched with the desktop view

    .entry-form {
        height: 95%;
    }
    .entry-modal{
        height: 85%;
        top: 48%; // For some reason on mobile it looks a little off unless the modal is raised a bit
    }

    .entry-grid {
        display: grid;
        gap: 1rem 0;
        height: 100%;
        grid-template-areas: 
        "title"
        "category"
        "rating"
        "review"
        "error"
        "save";
        grid-template-rows: auto auto auto 1fr auto auto;
    }

     // A little extra veritcal space for title and cateogry since they can have error text
    .entry-grid_area-title, .entry-grid_area-category {
        margin-bottom: 1rem;
    }

    .entry-grid_area-error {
        margin-bottom: 2rem;
    }

}

.required-text {
    color: v.$error-color;
    position: absolute;
    width: 30rem;
}