@use '../../../../variables.scss' as v;

.entry-container{
    margin: 3rem auto;
    height: 20rem;
    width: 90%;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-form {
    width: 90%;
}

.entry-grid {
    display: grid;
    gap: 2.5rem 0;
    grid-template-areas:
    ". title category rating ."
    ". review review review ."
    "save save save save save";
    &_row{
        width: 20%;
    }
    &_area-title {
        grid-area: title;
        #title {
            width: 30rem;
        }
    }
    &_area-category {
        grid-area: category;
        #category {
            width: 14rem;
        }
    }
    &_area-rating {
        grid-area: rating;
        #rating {
            width: 8rem;
        }
    }
    &_area-review {
        grid-area: review;
        height: 6rem;
    }
    &_area-save {
        grid-area: save;
        width: 10rem;
        justify-self: center;
        #save {
            width: 10rem;
            @include v.button(10rem, 3rem, 2.5rem);
            letter-spacing: 0;
            
        }
    }
}

.required-text {
    color: v.$error-color;
    position: absolute;
    width: 30rem;
}

.error-border{
    @include v.error-border;
}