@use '../../../../variables.scss' as v;

.entry-modal{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 3rem auto;
    height: 25rem;
    width: 90%;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-form {
    width: 90%;
    height: 90%;
}

.entry-grid {
    display: grid;
    gap: 2rem 0;
    grid-template-areas:
    ". title category rating ."
    ". review review review ."
    ". error error error ."
    "save save save save save";


    label {
        display: block;
    }

    &_area-title {
        grid-area: title;
        #title {
            width: 30rem;
        }
    }
    &_area-category {
        grid-area: category;
        #category {
            width: 14rem;
        }
    }
    &_area-rating {
        grid-area: rating;
        #rating {
            width: 8rem;
        }
    }
    &_area-review {
        grid-area: review;
        height: 10rem;
        margin-bottom: -0.75rem;
        resize: none;
    }
    &_area-error {
        width: 100%;
        height: 0rem;
        grid-area: error;
        justify-self: center;
        color: v.$error-color;
        font-size: 1.4rem;
        font-weight: bold;
    }
    &_area-save {
        grid-area: save;
        width: 10rem;
        justify-self: center;
        #save {
            width: 10rem;
            @include v.button(10rem, 3.1rem, 2.2rem);
            letter-spacing: 0;
            
        }
    }

}


@media screen and (max-width: 768px) {
    .entry-modal {
        height: 39rem;
    }
    .entry-grid {
        display: grid;
        grid-template-areas: 
        "title"
        "category"
        "rating"
        "review"
        "error"
        "save";
    }
    .entry-grid_area-error {
        margin-bottom: 2rem;
    }
    .entry-grid_area-review {
        max-width: 90%;
    }
}

.required-text {
    color: v.$error-color;
    position: absolute;
    width: 30rem;
}