@use '../../../../variables.scss' as v;

.media {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 3rem;
   
    &-table{
        overflow-y: auto;
        height: auto;
        max-height: 60rem;
        display: block;
        border-collapse: collapse;
        background-color: v.$white-color-darker;
        color: black;

        thead {
            position: sticky;
            top: 0;
            background-color: v.$secondary-color;
            color: v.$white-color;
        }
        th, td {
            border: 0.1rem solid v.$primary-color;
            padding: 1rem 3rem;
            max-width: 50rem;
        }

        // Gets rid of double lines
        th {
            border-top: none;
        }
        tr:last-child td {
            border-bottom: none;
        }
    }    

}