@use '../../../../variables.scss' as v;

.icons{
    height: 2rem;
    border-bottom: 0.2rem solid v.$primary-color;
}

.edit-entry {
    margin: 2rem auto;
    height: 85vh;
    width: 95%;
    overflow-y: auto;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;

    .icons {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
    }

    &_table {
        width: 100%;

        padding: 0 1rem;

        border-spacing: 0 2rem;

        input, textarea, select {
            width: 95%;
            background-color: v.$white-color;
        }

        .edit-entry_category select {
            // Want effect of category being twice as long as rating
            // For some reason selects are a little less wide than inputs, so need to add a little extra width
            width: calc(25% + 0.5rem);
            min-width: 15.5rem;
        }
        .edit-entry_rating input {
            width: 25%;
            min-width: 15rem;
        }

        .edit-entry_review, .edit-entry-notes {
            // Make the label float to the top opf the td
            td:first-child {
                display: flex;
            }
        }

        .edit-entry_review textarea {
            height: 20vh;
        }

        .edit-entry-notes textarea {
            height: 30vh;
        }

        
        td:first-child {
            width: 10rem;
        }

        textarea {
            resize: none;
        }

        
        // Max widths
        .edit-entry_title input {
            max-width: 60rem;
        }
        textarea {
            max-width: 120rem;
        }
        .edit-entry_rating input {
            max-width: 20rem;
        }
        select {
               // For some reason selects are a little less wide than inputs, so need to add a little extra width
            max-width: 20.5rem;
        }
    }


}

