@use '../../../../variables.scss' as v;

.icons{
    height: 2rem;
    border-bottom: 0.2rem solid v.$primary-color;
}

.edit-entry {
    margin: 2rem auto;
    height: 85vh;
    width: 95%;
    overflow-y: auto;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;

    .icons {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
    }

    &_table {
        width: 100%;

        padding: 0 1rem;

        border-spacing: 0 2rem;

        input, textarea {
            width: 95%;
            background-color: v.$white-color;
            border: 0.1rem solid v.$primary-color;
        }

        .edit-entry_review, .edit-entry-notes {
            // Make the label float to the top opf the td
            td:first-child {
                display: flex;
            }
        }

        .edit-entry_review textarea {
            height: 20vh;
        }

        .edit-entry-notes textarea {
            height: 30vh;
        }


        td:first-child {
            width: 10rem;
        }
    }


}

