@use '../../../../variables.scss' as v;


.edit {
    height: v.$full-page-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-entry {
    height: 96%;
    width: 96%;
    overflow-y: auto;
    border-radius: 1rem;
    background-color: v.$white-color-darker;
    color: black;
    display: flex;
    flex-direction: column;

    .icons {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
        height: 2rem;
        border-bottom: 0.2rem solid v.$primary-color;
    }

    .fields-container  {
        flex-grow: 1;
        height: 100%;
        border-spacing: 0 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .field {
        display: flex;
        margin-bottom: 2rem;
    }

    .field_label {
        width: 11rem;
        letter-spacing: 0.1rem;
    }


    input, textarea, select {
        width: 95%;
        background-color: v.$white-color;
    }


    // Styling specific fields 
    .edit-entry_title {
        input {
            width: 70%;
        }
    }

    .edit-entry_category select {
        // Want effect of category being twice as long as rating
        // For some reason selects are a little less wide than inputs, so need to add a little extra width
        width: calc(25% + 0.5rem);
        min-width: 15.5rem;
    }
    .edit-entry_rating input {
        width: 25%;
        min-width: 15rem;
    }

    .edit-entry_review {
        display: initial;
        flex-grow: 1;
        margin: 0;
    }

    // Review area
    .field_review-label {
        margin-bottom: 0.5rem;
    }

    textarea {
        resize: none;
        height: calc(100% - 3rem);
        width: calc(100% - 1rem);
    }

    
    // Max widths
    .edit-entry_title input {
        max-width: 60rem;
    }
    .edit-entry_rating input {
        max-width: 20rem;
    }
    select {
        // For some reason selects are a little less wide than inputs, so need to add a little extra width
        max-width: 20.5rem;
    }



}

