@use '../../../variables.scss' as v;

$navbar-padding: 2rem;
$letter-spacing: 0.3rem;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: v.$primary-color;
    color: v.$text-color;
    border-bottom: 0.05rem solid v.$text-color;
    font-size: 2rem;
}

.navbar_title{
    font-size: 3rem;
    padding-left: $navbar-padding;
    letter-spacing: $letter-spacing;
}

.navbar_links{
    display: flex;
    list-style-type: none;
    padding-right: $navbar-padding;
}

.navbar_links li{
    margin: auto 7rem;
    letter-spacing: $letter-spacing;
}