@use '../../../../variables.scss' as v;

.above-table-container {
    height: v.$above-table-height;
}

.account {
    height: v.$full-page-height; //Forces page height to be height of viewport
    .table-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        &_text {
            font-size: 4rem;
            margin: 0;
            letter-spacing: 0.3rem;
        }
    }

    .add{
        display: flex;
        justify-content: center;
        height: 50%;
        &_button{
            @include v.button(21rem, 3.8rem, 2.5rem);
        }

    }


}

.snackbar .MuiSnackbarContent-message {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .above-table-container {
        height: v.$above-table-height-mobile;
    }
    .account {
        .table-title{
            &_text {
                font-size: 2.8rem;

            }
        }

        .add{
            &_button{
                @include v.button(17rem, 3rem, 2rem);
            }
        }
    }

    .snackbar .MuiSnackbarContent-message {
        font-size: unset;
    }
}



