@use '../../../../variables.scss' as v;

.above-table-container {
    height: v.$above-table-height;
}

.account {
    height: calc(100% - v.$navbar-height - 0.1rem); //Forces page height to be height of viewport
    .table-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        &_text {
            font-size: 4rem;
            margin: 0;
            letter-spacing: 0.3rem;
        }
    }

    .add{
        display: flex;
        justify-content: center;
        height: 50%;
        &_button{
            @include v.button(25rem, 4rem, 3rem);
        }

    }


}

@media screen and (max-width: 768px){
    .above-table-container {
        height: v.$above-table-height-mobile;
    }
    .account {
        .table-title{
            &_text {
                font-size: 2.5rem;

            }
        }

        .add{
            height: v.$above-table-height-mobile;
            &_button{
                @include v.button(20rem, 3rem, 2rem);
            }
        }
    }
}



