@use '../../../../variables.scss' as v;

.home {
    margin: 2rem; 
    color: white;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
       
        &_text {
            font-size: 5rem;
            margin: 0;
            text-align: center;
        }
    }
    
    .subtitles{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .subtitles ul {
        margin-top: 2.5rem;
    }
    
    .subtitles li{
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
    
    
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        column-gap: 2rem;
        &_get-started{
            @include v.button(26rem, 4rem, 2.5rem);
            letter-spacing: 0.3rem;
            word-spacing: 0;
        }
        &_learn-more {
            @include v.button(20rem, 4rem, 2.5rem, true);
            letter-spacing: 0.3rem;
            word-spacing: 0;
        }
    
    }



    .check {
        color: lightgreen;
    }
    
    .arrow {
        margin-left: 1rem;
    }
    
}


@media screen and (max-width: 768px){
    .home {
        .title {    
            height: 12rem;
        }

    }
}