@use '../../../../variables.scss' as v;

.home {
    margin: 2rem; 

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
       
        &_text {
            font-size: 4rem;
            margin: 0;
            text-align: center;
        }
    }
    
    .subtitles{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .subtitles ul {
        margin-top: 2.5rem;
    }
    
    .subtitles li{
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
    
    
    .start{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        row-gap: 2rem;
        &_button{
            @include v.button(30rem, 4rem, 3rem);
            letter-spacing: 0.3rem;
            word-spacing: 0;
        }
    
    }

    .learn_more_button {
        @include v.button(30rem, 4rem, 3rem, true);
        letter-spacing: 0.3rem;
        word-spacing: 0;
    }

    .check {
        color: lightgreen;
    }
    
    
}


@media screen and (max-width: 768px){
    .home {
        .title {    
            height: 12rem;
        }

    }
}