@use '../../../../variables.scss' as v;

.home {
    margin: 2rem; 
    .title{
        margin-top: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12rem;
    
        &_text {
            font-size: 4rem;
            margin: 0;
            text-align: center;
        }
    }
    
    .subtitles{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }
    
    .subtitles li{
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
    
    
    .start{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7rem;
        margin-bottom: 2rem;
        &_button{
            @include v.button(30rem, 4rem, 3rem);
            letter-spacing: 0.3rem;
            word-spacing: 0;
        }
    
    }
    
    
}



